<?xml version="1.0"?>
<config>    
    <modules>
        <Magentotutorial_Helloworld>
            <version>0.1.0</version>
        </Magentotutorial_Helloworld>
    </modules>
     
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>   
    </frontend>

    <!-- some other configurations, module version, frontend... -->
    <global>
        <blocks>
            <helloworld>
                <class>Magentotutorial_Helloworld_Block</class>
            </helloworld>
        </blocks>
        <helpers>
            <helloworld>
                <class>Magentotutorial_Helloworld_Helper</class>
            </helloworld>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <helloworld before="Mage_Adminhtml">Magentotutorial_Helloworld_Adminhtml</helloworld>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!-- some other configurations -->
     
</config>
